body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2rem;
}

.container {
    width: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.gambar img{
    width: auto;
    height: 200px;
}

.hitung-keliling{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    width: 600px;
}

.hitung-luas{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    width: 600px;
}

.form {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    text-align: start;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-hitung {
    height: 40px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-hitung:hover {
    background-color: #0056b3;
}
.menu{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.switch{
    height: 40px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: aqua;
    color: #3d3d3d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.switch:hover{
    background-color: aquamarine;
}
.hasil {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}
.show{
    display: block;
}
.hidden{
    display: none;
}